.about__content {
  padding: 80px 216px 80px 104px;
  display: flex;
  justify-content: space-between;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
}

.about__text-content {
  max-width: 600px;
}

.about__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  font-size: 18px;
  line-height: 24px;
}
