.news-card {
  width: 400px;
  height: 576px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background-color: #ffffff;
}

.news-card__keyword {
  background-color: #ffffff;
  border-radius: 10px;
  height: 40px;
  padding: 0 22px;
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.news-card__save-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  background: #ffffff url("../../assets/save-banner.svg") center no-repeat;
}

.news-card__save-button-info {
  height: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 45px;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  padding: 0;
  white-space: nowrap;
  max-width: fit-content;
  overflow: hidden;
  width: 0px;
  transition: width 0.3s ease-out;
}

.news-card__save-button-info-text {
  visibility: hidden;
}

.news-card__save-button:hover {
  background-image: url("../../assets/save-banner_hover.svg");
  cursor: pointer;
}

.news-card__save-button:hover .news-card__save-button-info {
  width: 150px;
  padding: 0 20px;
}

.news-card__save-button_saved {
  background-image: url("../../assets/save-banner_saved.svg");
}

.news-card__save-button_saved:hover {
  background-image: url("../../assets/save-banner_saved.svg");
}

.news-card__save-button_unsave {
  background-image: url("../../assets/unsave-icon.svg");
}

.news-card__save-button_unsave:hover {
  background-image: url("../../assets/unsave-icon_hover.svg");
}

.news-card__image {
  height: 272px;
}

.news-card__bottom {
  padding: 17px 24px 24px;
}

.news-card__date {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 0 15px;
}

.news-card__title {
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-card__title-text {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin: 0;
}

.news-card__body {
  height: 110px;
  margin: 16px 0 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-card__body-text {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.news-card__author {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  margin: 0;
}

@media (max-width: 1030px) {
  .news-card {
    width: 224px;
    height: 420px;
  }
  .news-card__image {
    height: 150px;
  }
  .news-card__bottom {
    padding: 16px 15px;
  }
  .news-card__date {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 12px;
  }
  .news-card__title-text {
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }
  .news-card__body {
    height: 88px;
    margin: 10px 0 12px;
  }
  .news-card__keyword {
    padding: 0 20px;
    top: 8px;
    left: 8px;
  }
  .news-card__save-button {
    top: 8px;
    right: 8px;
  }
  .news-card__save-button-info {
    visibility: hidden;
  }
}

@media (max-width: 665px) {
  .news-card {
    width: 288px;
    height: 440px;
  }
  .news-card__image {
    height: 196px;
  }
  .news-card__bottom {
    padding: 16px;
  }

  .news-card__title {
    height: 48px;
  }
  .news-card__date {
    margin: 0 0 10px;
  }
  .news-card__body {
    height: 88px;
    margin: 14px 0 8px;
  }
  .news-card__keyword {
    padding: 0 20px;
    top: 16px;
    left: 16px;
  }
  .news-card__save-button {
    top: 16px;
    right: 16px;
  }
}
