@import url(./vendor/fonts.css);

.page {
  margin: 0;
}

.page__content {
  min-height: 100vh;
  position: relative;
  font-family: "Roboto";
  font-weight: 400;
  color: #1a1b22;
}

.page__section {
  max-width: 1440px;
  margin: 0 auto;
}

.text-button {
  background: none;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  padding: 0;
}

.text-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.img-button {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
}
